@import "../inc/variable";
@import "../inc/fonction";

#header{
    background-color: $white;
    color: black;
    font-family: $roboto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 1rem;

    @include breakpoints(tablette){
        font-size: $sizeH3;
        margin: 0;
        padding: 0;
    }
    @include breakpoints(phone){
        font-size: $sizeParagraphe;
    }

    // Généralités
    a {
        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        transition-duration: .6s;

    }
    a:hover {
        transition-duration: .6s;
        text-decoration-line: underline;
    }

    img {
        transition-duration: .6s;
    }
    img:hover {
        transition-duration: .6s;
        opacity: 50%;
    }

    ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;

        li {
            padding: 0 0.4rem;
        }
    }

    // Wrap
    .wrap0{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        @include breakpoints(tablette){
            flex-flow: column;
        }
        nav {
            margin: 0 0.4rem;
            width: 25%;
            text-transform: capitalize;
            @include breakpoints(tablette) {
                padding: 1rem;
            }

            .logo {
                @include breakpoints(tablette){
                    display: none;
                }
                width: 35%;
                img {
                    width: 100%;
                }
            }
        }

        .login {
            //background-color: red;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-end;
            gap: 0;
            @include breakpoints(tablette) {
                justify-content: center;
            }

            .icon_menu {
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: center;
                background-size: 100%;
                width: 70px;
                height: 70px;
            }
            .icon_logout {
                background-image: url("../../maquette/icons/logout.png");
            }
            .icon_logout:hover {
                transition-duration: .6s;
                opacity: 50%;
            }
            .icon_seringue {
                background-image: url("../../maquette/icons/seringue.png");
                animation: none;
            }
            .icon_seringue:hover {
                transition-duration: .6s;
                animation: heartbeat 1.5s ease-in-out infinite both;
            }
            .icon_admin {
                background-image: url("../../maquette/icons/options.png");
                animation: none;
            }
            .icon_admin:hover {
                transition-duration: .6s;
                animation: rotate-center 1.1s ease-in-out infinite both;
            }
            .icon_carnet {
                background-image: url("../../maquette/icons/carnet.png");
                animation: none;
            }
            .icon_carnet:hover {
                transition-duration: .6s;
                animation: jello-horizontal 0.9s infinite both;
            }
            .icon_user {
                background-image: url("../../maquette/icons/user2.png");
                animation: none;
            }
            .icon_user:hover {
                transition-duration: .6s;
                animation: heartbeat 1.5s ease-in-out infinite both;

            }
        }
    }
}

