@import "../inc/variable";
@import "../inc/fonction";
#home_add_vaccin {
  background: url("../../assets/img/backgrounds/add_vaccin.jpg") no-repeat;
  background-size: 100%;
  height: 700px;
  .wrap3 {
    .danger {
      background-color: #f8d7da;
      color: black;
      font-size: .8rem;
      padding: 1rem;
      margin: 0 1rem 2rem 1rem;
      border-radius: 8px;
      box-shadow: 2px 2px rgba(0,0,0,0.05);
    }
  }
}