@import "../inc/variable";
@import "../inc/fonction";
#home_register {
  background: url("../../assets/img/backgrounds/inscription.jpg") no-repeat;
  background-size: 100%;
  height: 400px;
  .wrap0 {
    position: relative;
    .title_absolute {
      position: absolute;
      top: 300px;
      left: 33%;
      text-align: center;
      h2 {
        font-family: $roboto;
        font-weight: 700;
        font-size: 6rem;
      }

      h2:first-child {
        color: $kaki;
      }
      h2:nth-child(2) {
        color: #60A6A6;
        padding-bottom: 3rem;
      }
    }
  }
}