@import "../inc/variable";
@import "../inc/fonction";
#home {
  background: url("../../assets/img/backgrounds/vaccin.jpg") no-repeat center;
  background-size: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  .wrap0 {
    //background-color: red;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    h2 {
      font-family: $roboto;
      font-weight: 700;
      font-size: 6rem;
      animation: text-shadow-pop-bottom 0.6s both;

      @include breakpoints(petitlaptop) {
        font-size: 4rem;
      }

      @include breakpoints(phone) {
        font-size: 2rem;
      }
    }

    h2:first-child {
      color: $kaki;
    }
    h2:nth-child(2) {
      color: #60A6A6;
      padding-bottom: 2rem;
    }

    a {
      color: $brown;
      border: 2px $brown solid;
      border-radius: .3rem;
      padding: .4rem;
      font-size: 1.3rem;
      font-weight: 700;
      transition-duration: .5s;

      @include breakpoints(phone) {
        font-size: .8rem;
      }
    }
    a:hover {
      opacity: 70%;
      transition-duration: .5s;
    }
  }
}