@import "../inc/variable";
@import "../inc/fonction";
#panel_buttons {
  padding: 8rem;
  background-color: white;
  .wrap2 {

    .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      @include breakpoints(petitlaptop) {
        justify-content: center;
      }

      .link {
        color: $brown;
        border: 2px $brown solid;
        border-radius: .3rem;
        padding: .4rem;
        font-size: 1.3rem;
        font-weight: 700;
        transition-duration: .5s;
      }
      .link:hover {
        opacity: 70%;
        transition-duration: .5s;
      }
      .element1 {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        .img1 {
          background: url("../../maquette/icons/seringue.png") no-repeat;
          background-size: 100%;
          height: 150px;
          width: 150px;
          animation: heartbeat 1.5s ease-in-out infinite both;
        }
      }
      .element2 {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        .img2 {
          background: url("../../maquette/icons/carnet.png") no-repeat;
          background-size: 100%;
          height: 150px;
          width: 150px;
          animation: jello-horizontal 0.9s infinite both;
        }
      }
      .element3 {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        .img3 {
          background: url("../../maquette/icons/vaccins.png") no-repeat;
          background-size: 100%;
          height: 150px;
          width: 150px;
          animation: jello-horizontal 0.9s infinite both;
        }
      }
    }
  }
}