@import "variable";
@import "responsive";
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    /*GOOGLE FONT */
        @import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto+Condensed:wght@300;400;700&display=swap');

}
.clear:before, .clear:after {content: ' ';display: table}
.clear:after { clear : both }
.clear {*zoom: 1;}

body {
    //font-family: 'Poiret One', cursive;
    //font-family: 'Roboto Condensed', sans-serif;
    color: red;
    background-color: blue;
    overflow-x: hidden;
    font-size: 2vw;
    font-family: $roboto;
    @include breakpoints(tablette) {
        font-size: 4vw;
    }
    @include breakpoints(phone) {
        font-size: 6vw;
    }
}

/*BALISE DE BASE*/
ul, ol, li, nav {
    list-style: none;
}
img{
    width: 100%;
    vertical-align: bottom;
}
p {
    font-family: $poiret;
}
a {
    font-family: $roboto;
    color: var(--noir);
    text-decoration: none;
}
em{
    font-style: normal;
}
strong{
    font-style: normal;
    font-size: 3em;
}
textarea{
    resize: none;
}
/*reset de toute les fonts, on augmente la taille avec des em*/

/*CLASS*/

.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
.bold{
    font-weight: bold;
}
.shadow{
    -webkit-box-shadow: 1.25vw 1.25vw 1.25vw -0.625vw lightgray;
    -moz-box-shadow:    1.25vw 1.25vw 0.625vw -0.625vw lightgray;
    box-shadow:         1.25vw 1.25vw 0.625vw -0.625vw lightgray;
}
.shadow-image{
    filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
}
.text-shadow {
    text-shadow: 1px 2px 3px #666;
}
.cover{
    background-size: cover;
}


/* WRAPS */
.wrap0 {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.wrap1 {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap2 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap3 {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap4 {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}