@import "variable";
@mixin centreAll{
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}
@mixin centreElement{
    justify-content: center;
    align-content: center;
    align-items: center;
}
@mixin imgCover{
    object-fit: cover;
    background-repeat: no-repeat;
}

@mixin formulaire {
    .wrap3 {

        padding: 9rem 1rem;
        form {
            background-color: $grey;
            border-radius: 1rem;
            padding: 3rem;

            .error {
                background-color: rgba(220,20,60,.9);
                color: white;
                font-size: .8rem;
                padding: .5rem .3rem;
                margin: 0 1rem 2rem 1rem;
                border-radius: 8px;
            }

            .wrap4{
                display: flex;
                flex-flow: column nowrap;
                align-content: center;

                textarea{
                    border-radius: 2rem;
                    padding: 2rem;
                }
                textarea::placeholder{
                    color: black;
                    opacity: 30%;
                    font-family: $roboto;
                    font-weight: 700;
                }

                input[type='submit']{
                    padding: 1rem;
                    margin: 1rem 0;
                    width: 100%;
                    border-radius: 3rem;
                    border: none;
                    font-family: $roboto;
                    font-weight: 700;
                    background-color: white;
                    color: $brown;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-size: 1.3rem;
                    transition-duration: .6s;
                }
                input[type='submit']:hover{
                    transition-duration: .6s;
                    background-color: $lightblue;
                    color: #FFFFFF;
                }

                .input_group {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: center;
                    label {
                        font-family: $roboto;
                        font-size: 1.2rem;
                        color: black;
                        padding: 0 1rem;
                    }
                    input {
                        padding: 1rem;
                        margin: 1rem 0;
                        width: 100%;
                        border-radius: 3rem;
                        border: none;
                        color: black;
                        font-family: $roboto;
                        font-weight: 700;
                    }
                    .input::placeholder {
                        color: black;
                        opacity: 30%;
                        font-family: $roboto;
                        font-weight: 700;
                    }
                }

                .input_names {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    padding-bottom: 2rem;

                    .input_nom, .input_prenom {
                        width: 45%;
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                    }
                }
            }
        }
    }
}
