@import "variable";
@mixin centreAll{
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}
@mixin centreElement{
    justify-content: center;
    align-content: center;
    align-items: center;
}
@mixin imgCover{
    object-fit: cover;
    background-repeat: no-repeat;
}

@mixin formulaire {
    .wrap3 {

        padding: 5rem 1rem;

        .success {
            background-color: #d4edda;
            color: black;
            font-size: .8rem;
            padding: 1rem;
            margin: 0 1rem 2rem 1rem;
            border-radius: 8px;
            box-shadow: 2px 2px rgba(0,0,0,0.05);
        }
        .info {
            background-color: #d1ecf1;
            color: black;
            font-size: .8rem;
            padding: 1rem;
            margin: 0 1rem 2rem 1rem;
            border-radius: 8px;
            box-shadow: 2px 2px rgba(0,0,0,0.05);
        }
        form {
            background-color: rgba(255,255,255,.8);
            padding: 3rem;
            border-radius: .3rem;
            box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.05);
            -webkit-box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.05);
            -moz-box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.05);

            .error {
                background-color: rgba(220,20,60,.9);
                color: white;
                font-size: .8rem;
                padding: .5rem .3rem;
                margin: 0 1rem 2rem 1rem;
                border-radius: 8px;
            }


            .wrap4{
                display: flex;
                flex-flow: column nowrap;
                align-content: center;

                textarea{
                    border-radius: 2rem;
                    padding: 2rem;
                }
                textarea::placeholder{
                    color: black;
                    opacity: 30%;
                    font-family: $roboto;
                    font-weight: 700;
                }

                input[type='submit']{
                    padding: 1rem;
                    margin: 1rem 0;
                    width: 100%;
                    border-radius: 3rem;
                    border: none;
                    font-family: $roboto;
                    font-weight: 700;
                    background-color: $lightblue;
                    color: #FFFFFF;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-size: 1.3rem;
                    transition-duration: 1s;
                }
                input[type='submit']:hover{
                    transition-duration: 1s;
                    -webkit-animation: color-change-2x 1s linear both;
                    animation: color-change-2x 1s linear both;
                }

                select {

                    padding: 1rem;
                    margin: 1rem 0;
                    width: 100%;
                    border-radius: 3rem;
                    border: none;
                    color: black;
                    background-color: $lightgrey;
                    border: 1px $brown solid;
                    font-family: $roboto;
                    font-weight: 700;
                    option {
                        font-family: $roboto;
                        font-weight: 700;
                    }
                }

                .input_group {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: center;
                    label {
                        font-family: $roboto;
                        font-size: 1rem;
                        font-weight: 700;
                        color: black;
                        padding: 0 .1rem;
                    }
                    input {
                        padding: 1rem;
                        margin: 1rem 0;
                        width: 100%;
                        border-radius: .3rem;
                        border: 1px $brown solid;
                        color: black;
                        background-color: $lightgrey;
                        font-family: $roboto;
                        font-weight: 700;

                        box-shadow: 2px 2px rgba(0,0,0,0.05);
                    }
                    .input::placeholder {
                        color: black;
                        opacity: 30%;
                        font-family: $roboto;
                        font-weight: 700;
                    }
                }

                .input_names {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    padding-bottom: 2rem;

                    .input_nom, .input_prenom {
                        width: 45%;
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                    }
                }
            }
        }
    }
}
