/*REPONSIVE*/
@mixin breakpoints($size) {
    @if $size == phone {
        @media (max-width: 350px){ @content;}
    }@else if $size == tablette {
        @media (max-width: 700px){ @content;}
    }@else if $size == petitlaptop {
        @media (max-width: 900px){ @content;}
    }@else if $size == laptop {
    @media (max-width: 1200px){ @content;}
}
}
