$grey                  : #A4B3BF;
$lightgrey             : #DCEEF2;
$kaki                  : #88BABF;
$lightblue             : #7EDBDB;
$brown                 : #73625C;

$sizeH1                : 2rem;
$sizeH2                : 1.5rem;
$sizeH3                : 1rem;

$sizeParagraphe        : 0.85rem;
$sizePetitParagraphe   : 0.7rem;

$poiret                : 'Poiret One', cursive;
$roboto                : 'Roboto Condensed', sans-serif;
